.about-page {
    padding-bottom: 80px;
}
/** our histories section start */
.our-history__title {
    padding-top: 80px;
    padding-bottom: 32px;
}
.histories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 35px;
}
.histories__item {
    display: flex;
    width: calc((100% - 70px) / 3);
    flex-direction: column;
    padding-left: 25px;
    gap: 10px;
}
.histories__item.hidden {
    display: none;
}
.histories__title {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border-radius: 15px;
    font-weight: 400;
    text-transform: uppercase;
    min-height: 80px;
    max-height: 80px;
    cursor: pointer;
    transition: 0.3s;
}
.histories__item:hover .histories__title {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.histories__year {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    background-color: #2659d1;
    color: #fff;
    min-width: 50px;
    font-weight: 800;
    position: absolute;
    top: calc(50% - 25px);
    left: -25px;
}
.histories__inner {
    font-size: 10px;
    font-weight: 300;
    color: #8f8f8f;
    display: flex;
    flex-direction: column;
}
.histories__text {
    height: 0px;
    overflow: hidden;
    transition: 0.3s;
}
.histories__item.show .histories__text {
    height: max-content;
}
.histories__button {
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    transition: 0.3s;
}
.histories__item.show .histories__button {
    height: 0px;
}
.our-history__view-all-btn {
    border: none;
    background-color: transparent;
    display: flex;
    gap: 15px;
    margin-top: 32px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    cursor: pointer;
}
.our-history__view-all-text {
    text-align: end;
    color: #8f8f8f;
}
.our-history__view-all-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    min-width: 50px;
    background-color: #00b052;
    border-radius: 15px;
    transition: 0.3s;
}
.our-history__view-all-btn:hover .our-history__view-all-icon {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.our-history__view-all-icon svg {
    transform: rotate(-180deg);
    transition: 0.3s;
}
.our-history__view-all-btn.hidden .our-history__view-all-icon svg {
    transform: rotate(-90deg);
}
/** our histories section end */
/** present time section start */
.present-time {
    background-color: #2659d1;
    color: #fff;
    padding-top: 64px;
    padding-bottom: 64px;
}
.present-time__title {
    color: #fff;
    margin-bottom: 32px;
}
.present-time__notation {
    text-transform: uppercase;
    font-size: 17.5px;
    font-weight: 600;
    margin-bottom: 8px;
    display: block;
}
/** present time section end */
/** company in numbers section start */
.company-numbers__title {
    padding-top: 80px;
    padding-bottom: 32px;
}
.company-numbers-item {
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    margin-left: 33px;
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 16px;
    min-height: 185px;
    width: calc(100% - 33px);
}
.company-numbers-value {
    top: 16px;
    background-color: #2659d1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 66px;
    width: 66px;
    color: #fff;
    font-weight: 800;
    position: absolute;
    left: 0px;
}
.company-numbers-title {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.company-numbers-text {
    font-size: 12px;
    color: #8f8f8f;
}
.company-carousel-wrap {
    position: relative;
}
.company-carousel .owl-dots {
    display: none;
}
.company-carousel .owl-nav {
    height: 0px;
}
.company-carousel .owl-stage,
.company-carousel .owl-item {
    display: flex;
}
.owl-carousel.company-carousel .owl-nav button.owl-prev,
.owl-carousel.company-carousel .owl-nav button.owl-next,
.company-carousel__prev-btn,
.company-carousel__next-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: transparent;
    border-radius: 8px;
    height: 25px;
    width: 25px;
    top: calc(50% - 12.5px);
    cursor: pointer;
    transition: 0.3s;
}
.owl-carousel.company-carousel .owl-nav button.owl-prev {
    left: -45px;
}
.owl-carousel.company-carousel .owl-nav button.owl-next {
    right: -45px;
}
.owl-carousel.company-carousel .owl-nav button.owl-prev:hover,
.owl-carousel.company-carousel .owl-nav button.owl-next:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.company-carousel__prev-btn,
.company-carousel__next-btn {
    background-color: #00b052;
}
.company-carousel__prev-btn {
    left: -45px;
    transform: rotate(180deg);
}
.company-carousel__next-btn {
    right: -45px;
}

.mission-vision {
    margin-top: 80px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.mission-vision-content {
    max-width: 300px;
}
.mission-vision-item {
    color: #fff;
    background-color: #2659d1;
    border-radius: 15px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.mission-vision-item:last-child {
    background-color: #2ec7d6;
}
.mission-vision-title {
    text-transform: uppercase;
    font-size: 17.5px;
    font-weight: 600;
    margin-bottom: 8px;
}
/** company in numbers section end */
.about-page-values {
    position: relative;
    overflow: hidden;
}
.about-page-values .our-values__list::before {
    display: none;
}
/** rdp-areas section start */
.rdp-areas__heading {
    padding-bottom: 32px;
}
.rdp-areas {
    color: #8f8f8f;
    overflow: hidden;
}
.rdp-areas-carousel__wrap {
    position: relative;
    margin-bottom: 32px;
}
.rdp-areas-carousel__img {
    border-radius: 15px;
    min-height: 270px;
    object-fit: cover;
}
.rdp-areas-carousel .owl-dots {
    display: none;
}
.rdp-areas-carousel .owl-nav {
    height: 0px;
}
.owl-carousel.rdp-areas-carousel .owl-nav button.owl-prev,
.owl-carousel.rdp-areas-carousel .owl-nav button.owl-next,
.rdp-areas-carousel__prev-btn,
.rdp-areas-carousel__next-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 8px;
    position: absolute;
    top: calc(50% - 12.5px);
    color: transparent;
    cursor: pointer;
    transition: 0.3s;
}
.owl-carousel.rdp-areas-carousel .owl-nav button.owl-prev,
.rdp-areas-carousel__prev-btn {
    left: -45px;
}
.owl-carousel.rdp-areas-carousel .owl-nav button.owl-next,
.rdp-areas-carousel__next-btn {
    right: -45px;
}
.owl-carousel.rdp-areas-carousel .owl-nav button.owl-prev:hover,
.owl-carousel.rdp-areas-carousel .owl-nav button.owl-next:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.rdp-areas-carousel__prev-btn,
.rdp-areas-carousel__next-btn {
    background-color: #00b052;
}
.rdp-areas-carousel__prev-btn {
    transform: rotate(180deg);
    left: -45px;
}
.rdp-areas-carousel__next-btn {
    right: -45px;
}
.rdp-areas__title {
    font-size: 17.5px;
    text-transform: uppercase;
    color: #0033ab;
    font-weight: 600;
}
/** rdp-areas section end */
/*! adaptive & responsive start */
@media screen and (max-width: 991px) {
    /** tablet */
    .our-history__title {
        padding-top: 48px;
        padding-bottom: 16px;
    }
    .histories {
        gap: 20px 20px;
    }
    .histories__item {
        width: calc((100% - 20px) / 2);
    }
    .our-history__view-all-btn {
        margin-bottom: 48px;
    }
    .present-time {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .present-time__container {
        padding-left: 35px;
    }
    .present-time__title {
        margin-bottom: 16px;
    }
    .present-time__notation {
        font-size: 16px;
    }
    .company-carousel .owl-dots,
    .company-carousel .owl-nav,
    .company-carousel__icon {
        display: none;
    }
    .mission-vision {
        margin-top: 48px;
    }
    .mission-vision-item {
        padding: 16px;
    }
    .mission-vision-title {
        font-size: 16px;
    }
    .our-values__title {
        padding-top: 48px;
        padding-bottom: 16px;
    }
    .our-values__list {
        position: relative;
        margin-bottom: 48px;
    }
    .rdp-areas__heading {
        max-width: 300px;
        padding-bottom: 16px;
    }
    .rdp-areas-carousel__container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .rdp-areas-carousel__img {
        border-radius: 0px;
        min-height: 400px;
    }
    .rdp-areas__title {
        font-size: 16px;
    }
    .about-page {
        padding-bottom: 48px;
    }
}
@media screen and (max-width: 575px) {
    /** mobile */
    .histories {
        gap: 16px 16px;
    }
    .histories__item {
        width: 100%;
    }
}
/* @media screen and (max-width: 360px) {
    .present-time__container {
        padding-left: 10px;
    }
    .values-carousel {
        padding-left: 10px;
        padding-right: 10px;
    }
} */
/*! adaptive & responsive end */
