/** our values section start */
.our-values {
    background-image: url(../img/our-values-bg.jpg);
    background-size: cover;
    padding-top: 24px;
    padding-bottom: 48px;
}
.our-values-inner {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 56px;
    padding-right: 50px;
    padding-bottom: 32px;
    padding-left: 50px;
    background-color: #eae9f3;
    border-radius: 15px;
}
.our-values-title {
    margin-bottom: 32px;
}
.values-item {
    min-width: max-content;
}
.values-title {
    min-width: max-content;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #0033ab;
    font-size: 15px;
    font-weight: 500;
}
.values-text {
    max-width: 150px;
    color: #8f8f8f;
}
.values-carousel .owl-nav,
.values-carousel .owl-dots {
    display: none;
}
.values-carousel .owl-stage {
    display: flex;
}
.values-carousel .owl-item {
    max-width: max-content;
    min-width: max-content;
}
/** our values section end */
/** industry news section start */
.industry-news {
    background-color: #2659d1;
    padding-top: 64px;
    padding-bottom: 64px;
    color: #fff;
    overflow: hidden;
}
.industry-news__title {
    color: #fff;
    margin-bottom: 32px;
}
.industry-news-carousel {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
}
.industry-news-carousel .owl-nav,
.industry-news-carousel .owl-dots {
    display: none;
}
.news-categories__link {
    display: flex;
    flex-direction: column;
    min-height: 120px;
    max-width: 220px;
    min-width: 220px;
}
.news-categories__title {
    text-transform: uppercase;
    font-size: 17.5px;
    font-weight: 600;
    margin-bottom: 8px;
}
.news-categories__description {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.news-categories__read {
    margin-top: auto;
    font-size: 11px;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 8px;
}
.news-categories__read-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00b052;
    height: 25px;
    width: 25px;
    min-width: 25px;
    border-radius: 8px;
    padding-left: 1px;
    transition: 0.3s;
}
/** industry news section end */
/** products block section start */
.products-block__title {
    padding-top: 80px;
    padding-bottom: 32px;
}
.products-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 32px;
}
.products-categories__item {
    display: flex;
    width: calc((100% - 64px) / 3);
    flex-grow: 1;
    min-width: 285px;
}
.products-categories__link {
    margin-left: 25px;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 16px;
    justify-content: space-between;
    color: #8f8f8f;
    gap: 8px;
    transition: 0.3s;
}
.products-categories__link:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.products-categories__icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 25px);
    left: -25px;
    background-color: #2659d1;
    border-radius: 15px;
    padding: 12px;
    fill: #fff;
}
.products-categories__title {
    color: #1d1d1d;
    text-transform: capitalize;
}
.products-block__info {
    display: flex;
    align-items: end;
    gap: 16px;
    margin-top: 32px;
    justify-content: end;
    margin-right: 16px;
    color: #8f8f8f;
    text-align: end;
}
.products-block__link {
    width: 270px;
    justify-content: center;
    transition: 0.3s;
}
.products-block__link:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
/** products block section end */
/** popular products section start */
.popular-products__title {
    padding-top: 80px;
    padding-bottom: 32px;
}
.popular-products-carousel .owl-nav,
.popular-products-carousel .owl-dots {
    display: none;
}
.popular-products-carousel .owl-stage {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 24px 32px;
}
.popular-products-carousel .owl-item {
    flex-grow: 1;
    float: unset;
    min-width: calc((100% - 64px) / 3);
}
.popular-products-carousel .product-card:hover {
    box-shadow: none;
}
.popular-products__link {
    max-width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 80px;
    transition: 0.3s;
}
.popular-products__link:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
/** popular products section end */
/*! adaptive start */
@media screen and (max-width: 1299px) {
    /** tablets */
    .our-values {
        background-image: none;
        padding-top: 0px;
        padding-bottom: 0px;
        overflow-x: hidden;
    }
    .our-values-inner {
        background-color: transparent;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .our-values-title {
        margin-bottom: 16px;
        max-width: 694px;
        margin-left: auto;
        margin-right: auto;
    }
    .values-carousel {
        max-width: 694px;
        margin-left: auto;
        margin-right: auto;
    }
    .values-title {
        font-weight: 400;
    }
    .values-carousel .owl-stage-outer {
        overflow: visible;
    }
}
@media screen and (max-width: 833px) {
    /** mobile */
    .our-values-title,
    .values-carousel {
        max-width: 358px;
    }
}
/*! adaptive end */
