.header {
    z-index: 1;
    position: relative;
    padding-top: 64px;
    padding-bottom: 64px;
}
.header__container {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    z-index: 1;
}
.home-link {
    display: flex;
    margin-right: 24px;
}
/** sites dropdown start */
.sites-dropdown {
    position: relative;
    z-index: 1;
}
.sites-dropdown__button {
    font-weight: 400;
    font-size: 14px;
    gap: 5px;
    min-width: 255px;
    position: relative;
    z-index: 2;
    transition: 0.3s;
}
.sites-dropdown__button:hover {
    box-shadow: 0px 6px 12px rgb(0 0 0 / 15%);
}
.sites-dropdown__icon {
    margin-left: auto;
    transform: rotate(0deg);
    transition: 0.3s;
}
.sites-dropdown.show .sites-dropdown__icon {
    transform: rotate(180deg);
}
.sites-dropdown__content {
    position: absolute;
    top: 50%;
    left: 0px;
    max-height: 0px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    transition: 0.3s;
}
.sites-dropdown.show .sites-dropdown__content {
    max-height: 100vh;
}
.sites-dropdown__list {
    background-color: #2659d1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow-y: scroll;
    padding-top: 25px;
    position: relative;
    width: 100%;
    max-height: 285px;
    transform: translateY(-100%);
    transition: 0.3s;
}
.sites-dropdown__list::-webkit-scrollbar {
    width: 0px;
}
.sites-dropdown.show .sites-dropdown__list {
    transform: translateY(0%);
}
.sites-dropdown__item:last-child {
    position: sticky;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 25px;
    background: #2659d1;
}
.sites-dropdown__link {
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 25px;
}
.sites-dropdown__link:hover {
    font-weight: 700;
}
/** sites dropdown end */
/** search start */
.search {
    display: flex;
    flex-grow: 1;
    margin-right: 40px;
    position: relative;
    z-index: 3;
}
.search-form {
    position: relative;
    display: flex;
    height: 50px;
    width: 310px;
    max-width: 479px;
    flex-grow: 1;
    min-width: 310px;
    background-color: #fff;
    border-radius: 15px;
    transition: 0.3s;
}
.search.hidden .search-form {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}
.search-input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 25px;
    padding-right: 60px;
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
    z-index: 0;
    min-width: 0px;
}
.search-input::placeholder {
    color: #1d1d1d;
}
.search-label,
.search-submit-btn {
    display: flex;
    height: 50px;
    width: 50px;
    min-width: 50px;
    border: none;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search-label {
    display: none;
}
.search-submit-btn {
    margin-left: auto;
    position: relative;
    z-index: 1;
}
.search.hidden .search-icon,
.search .close-icon {
    display: block;
}
.search.hidden .close-icon,
.search .search-icon {
    display: none;
}
.search-result {
    position: absolute;
    top: 58px;
    left: 0px;
    width: 100%;
}
.search.hidden .search-result {
    display: none;
}
/** search end */
/** langs dropdown start */
.langs-dropdown {
    position: relative;
    margin-left: auto;
}
.langs-dropdown__button {
    font-weight: 400;
    font-size: 14px;
    gap: 5px;
    min-width: 110px;
    position: relative;
    z-index: 2;
    border-radius: 16px;
    background-color: #2659d1;
    transition: 0.3s;
}
.langs-dropdown__button:hover {
    box-shadow: 0px 6px 12px rgb(0 0 0 / 15%);
}
.langs-dropdown__icon {
    margin-left: auto;
    transform: rotate(0deg);
    transition: 0.3s;
}
.langs-dropdown.show .langs-dropdown__icon {
    transform: rotate(180deg);
}
.langs-dropdown__content {
    position: absolute;
    top: 50%;
    left: 0px;
    max-height: 0px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    transition: 0.3s;
}
.langs-dropdown.show .langs-dropdown__content {
    max-height: 100vh;
}
.langs-dropdown__list {
    background-color: #0033ab;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow-y: scroll;
    padding-top: 25px;
    position: relative;
    width: 100%;
    max-height: 285px;
    transform: translateY(-100%);
    transition: 0.3s;
}
.langs-dropdown__list::-webkit-scrollbar {
    width: 0px;
}
.langs-dropdown.show .langs-dropdown__list {
    transform: translateY(0%);
}
.langs-dropdown__link {
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 25px;
}
.langs-dropdown__link:hover {
    font-weight: 700;
}
/** langs dropdown end */
/** main-navigation start */
.main-navigation {
    width: 100%;
    margin-top: 24px;
}
.page-navigation {
    display: flex;
    gap: 16px;
}
.page-navigation__link:hover {
    color: #0033ab;
}
.page-navigation__link.current {
    font-weight: 700;
    color: #0033ab;
}
/** main-navigation end */
/*! adaptive & responsive start */
@media screen and (max-width: 991px) {
    /** tablet */
}
@media screen and (max-width: 575px) {
    /** mobile */
}
/*! adaptive & responsive end */
